*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-left: 50rem;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background-color: aqua;
  padding: 0.5rem;
}
.buttons{
  display: flex;
  padding: 0.2rem;
  background-color: rgb(131, 199, 176);
}
.buttons-item{
  width: 100%;
  height: 40px;
}
.buttons-item.no-reset{
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgb(82, 80, 80);
}
.screen.input input{
  width: 15%;
  height: 30px;
  padding-left: 20px;
  font-size: 1.7rem;
}

.screen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: bisque;
  font-size: 3rem;
}
.screen.no-click{
  pointer-events: none;
  cursor: not-allowed;
}